/* Proprietà generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/xp-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}
@font-face {
    font-family: Alarm;
    src: url(../font/TickingTimebombBB.ttf);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.hide{
    display: none!important;
}
.show{
    display: inline-block!important;
}

/* Proprietà main*/
main{
    display: flex;
    height: calc(100vh - 35px);
    overflow-x: auto;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* Logo Windows XP */
img#logo{
    width: 250px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: -1;
}

/* Contenitore Icons XP apps */
main #xp-icons{
    width: 100%;
    padding: 20px;
    user-select: none;
    font-family: 'Rubik', sans-serif;
}

/* Contenitore icon e nome App */
#xp-icons .icon-container{
    display: inline-block;
    width: 70px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.icon-container.active img, .icon-container.active .white-link{
    background-color: dodgerblue;
    opacity: 0.8;
}

.icon-container img{
    height: 50px;
}
.icon-container .white-link{
    max-width: 60px;
    margin: 0 auto;
    color: white;
    text-shadow:0 3px 3px black;
    word-wrap: break-word;
    font-size: 13px;
    font-weight: 300;
}

/* Sezione game */
#game{
    width: 705px;
    height: 684px;
    margin-bottom: 20px; 
    font-family: 'Exo', sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-width: 0;
    overflow-x: auto;
    position: relative;
    bottom: 0;
    left: 0;
    transition: height linear 0.1s, width linear 0.1s, left 0.1s, bottom 0.1s;
}

#game.close{
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    left: 109px;
    height: 30px;
    width: 180px;
    cursor: pointer;
    user-select: none;
}

/* Barra nav finestra */
.window-nav{
    height: 30px;
    width: 705px;
    color: white;
    background: linear-gradient(to bottom, #3168d5 2%, #3888e9 4%, #4993e6 6%, #307be5 8%, #286add 5%, #245dd7 10%, #245edc 100%);
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo minesweeper */
.window-nav .title img{
    width: 25px;
}
/* Titoletto finestra */
.title h5{
    font-weight: 500;
    display: inline-block;
    text-shadow: 1px 1px 0 black;
    vertical-align: bottom;
}
/* Immagini minimize, close, full-screen */
.window-nav img{
    vertical-align: middle;
}
.window-nav img:not(.title img){
    cursor: pointer;
}
.window-nav img:not(.title img):hover{
    opacity: 0.6;
}

/* Corpo finestra */
.window-body{
    border: 3px solid #245edc;
    border-top-width: 0;
    width: 705px;
}

/* Sezione opzione finestra */
.window-options{
    background-color: #ece9d8;
    /* height: 20px; */
    padding: 0 5px;
    text-shadow: 1px 1px 0 lightgray;
    line-height: 20px;
    /* overflow: hidden; */
}

.window-options > li{
    display: inline-block;
    position: relative;
    height: 100%;
    color: black;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.window-options li:hover{
    background-color: #bdbaac;
}

.window-options a{
    color: black;
}
/* Finestra game mode */
#gameMode:hover .modeWindow{
    display: block;
}
.modeWindow{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    min-width: 50px;
    background-color: #ece9d8;
    text-shadow: 1px 1px 0 lightgray;
}
.modeWindow li{
    padding: 0 3px;
}

/* Corpo del gioco */
.game-body{
    border-top: 5px solid white;
    border-left: 5px solid white;
    background-color: #c0c0c0;
    padding: 7px;
}

.game-nav{
    background-color: #c0c0c0;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid white;
    border-top: 2px solid #80807e;
    border-left: 2px solid #80807e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Conta punti/timer */
.game-nav .points{
    height: 33px;
    width: 60px;
    font-size:40px;
    line-height: 40px;
    font-family: Alarm;
    text-align: right;
    background-color: black;
    position: relative;
    /* min-width: 55px;  */
    color:rgb(221, 0, 0);
    /* width: 50px; */
}

/* Start btn */
#btnStart{
    background-color: #c0c0c0;
    cursor: pointer;
    border: 3px solid white;
    border-right: 3px solid #80807e;
    border-bottom: 3px solid #80807e;
    padding: 2px;
    box-shadow: -1px -1px 0 0 rgb(148, 147, 147);
    width: 40px;
    height: 40px;
    overflow: hidden;
}
#btnStart:hover{
    border: 3px solid white;
    border-top: 3px solid #80807e;
    border-left: 3px solid #80807e;
    opacity: 0.8;
}
#btnStart img{
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}
#btnStart:hover #smile, #btnStart #dead, #btnStart #scared, #btnStart #win{
    display: none;
}

#btnStart:hover #dead{
    display: inline-block;
}

.redStartBtn{
    animation: redPulse 1s linear infinite;
}
@keyframes redPulse {
    50%{
        border: 3px solid red;
    }
    100%{
        border: 3px solid white;
        border-right: 3px solid #80807e;
        border-bottom: 3px solid #80807e;
    }
}

/* Matrice di celle */
ul#matrix{
    font-family: 'Exo 2', sans-serif;
    width: 680px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border: 3px solid white;
    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
}
#matrix .cell{
    flex-basis: calc(100% / 30);
    height: 22px;
    background-color: #c0c0c0;
    border: 1px solid #808080;
    position: relative;
    text-align: center;
}
.cell .bomb{
    width: 18px;
    height: 18px;
    margin-top: 1px;
}

/* Effetto rosso pingato su cella bomba*/
.cell#active {
    background-color: red;
    animation: redping infinite linear 1s;
}
@keyframes redping{
    30%{
        background-color: rgba(255, 0, 0, 0.2);
    }
    60%{
        background-color: red;
    }
}
/* Effetto arcobaleno su cella bomba*/
.cell#active2 {
    background-color: red;
    animation: wave infinite linear 2s;
}
@keyframes wave{
    14.28%{
        background-color: orange;
    }
    28.57%{
        background-color: yellow;
    }
    42.85%{
        background-color: greenyellow;
    }
    71.42%{
        background-color: dodgerblue;
    }
    85.71%{
        background-color: blue;
    }
    100%{
        background-color: purple;
    }

}

/* Cover sulle celle */
#matrix .cell .cover{
    width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    background-color: #c0c0c0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    opacity: 1;
}

/* Numero all'interno della cella */
.cell span{
    font-weight: 900;
    width: 100%;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.red{
    color: red;
}
.dark{
    color: #010080;
}
.darkred{
    color: #810102
}
.lightgreen{
    color: #008081;
}
.black{
    color: black;
}
.grey{
    color: #808080;
}

/* Punti */
#point span, #time span{
    color:rgb(221, 0, 0);
    opacity: 0.3;
    float: right;
    width: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#point span.active, #time span.active{
    opacity: 1;
}

/* Bandiera */
.bandiera{
    width: 12px;
    vertical-align: top;
}

/* Footer XP */
.footer-nav{
    background: linear-gradient(to bottom, #3168d5 2%, #3888e9 4%, #4993e6 6%, #307be5 8%, #286add 5%, #245dd7 10%, #245edc 100%);
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-nav .start{
    width: 104px;
    height: 100%;
    cursor: pointer;
    margin-right: 5px;
}
.start img{
    height: 100%;
}
.start:hover img:first-child{
    display: none;
}
.start img:last-child{
    display: none;
}
.start:hover img:last-child{
    display: inline-block;
}

.footer-nav .minimized{
    height: 28px;
    min-width: 180px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);   
    display: flex;
    align-items: center;
    padding: 3px 10px;
    user-select: none;
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px -2px white inset;
}


.minimized img{
    width: 25px;
    margin-right: 5px;
}